.city {
  border-radius: 20px;
  box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
  background-color: #222831;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;

  &__today-forecast{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 100px;
    height: 100%;
    min-height: 350px;
    padding: 20px 30px;
    background: #3182ce;
    border-radius: 20px 20px 0px 0px;
  }

  &__today-info {
    display: flex;
    gap: 20px;

    & li {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 5px;

      @media (max-width: 460px) {
        align-items: flex-start;
      }

      & h2 {
        font-weight: 700;
      }
    }
  }

  &__week-forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    padding: 20px 15px;
    box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  &__week-forecast > li {
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #fff;
    color: #222831;
    border-radius: 10px;
    flex: 0 1 18%;
    min-width: 200px;

    @media (max-width: 490px) {
      flex: 1 1 100%;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  .week-forecast__temp{
    font-weight: 700;
    font-size: 50px;
  }

  .week-forecast__desc{
    font-weight: 500;
    font-size: 24px;
  }
}
